* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.homePage {
  min-height: 100vh;
}

.nav_header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
}
.nav_header .header {
  display: flex;
  margin-right: 3rem;
  background-color: rgb(14, 38, 110);
  box-shadow: 0px 5px 5px gray;
  width: 100%;
}
.nav_header .header .brand {
  flex: 1 1 300px;
  color: rgb(236, 138, 102);
  align-items: center;
  font-size: 2.5rem;
  padding: 0.5rem;
  font-weight: 600;
}
.nav_header .header .nav_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.nav_header .header .nav_menu li {
  padding: 0.5rem 2rem;
}
.nav_header .header .nav_menu li .nav_link {
  font-size: 1.5rem;
  color: white;
  position: relative;
}
.nav_header .header .nav_menu li .nav_link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;
  background: aliceblue;
  transition: all 0.3s ease;
}
.nav_header .header .nav_menu li .nav_link:hover::before {
  width: 0;
}
.nav_header .header .nav_toggler {
  cursor: pointer;
  display: none;
  background-color: black;
}
.nav_header .header .nav_toggler div {
  margin: 0.8rem 1rem 0.5rem 1rem;
  width: 3rem;
  height: 0.4rem;
  background-color: rgb(255, 255, 255);
  transition: 0.4s ease-in;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
.search input,
.search button {
  font-size: 2rem;
  padding: 0.25rem;
  border: 3px solid rgb(43, 0, 43);
}
.search button {
  background-color: black;
  color: white;
  cursor: pointer;
}

.footer .footercon {
  display: flex;
  justify-content: center;
  background-color: rgb(14, 38, 110);
  flex-wrap: wrap;
}
.footer .footercon .footitem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 5rem;
}
.footer .footercon .footitem h2 {
  color: white;
  font-size: 2rem;
  border-bottom: 3px rgb(255, 255, 255) dotted;
}
.footer .footercon .footitem nav {
  text-align: center;
}
.footer .footercon .footitem nav ul li a {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
.footer .copyright {
  text-align: center;
  background-color: rgb(7, 18, 49);
  color: antiquewhite;
  font-size: 1.5rem;
}

.morePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.morePicture button {
  padding: 1rem;
  font-size: 2rem;
  border: none;
  background-color: rgb(73, 0, 73);
  border-radius: 50%;
  box-shadow: 2px 10px 10px gray;
  color: white;
  cursor: pointer;
}

.about {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}
.about nav {
  text-align: center;
}
.about nav ul li {
  font-size: 1.5rem;
}

.forus {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forus h1 {
  font-size: 1.75rem;
}
.forus P {
  font-size: 1.25rem;
}

.scrollup .top {
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  padding: 1rem;
  background-color: rgb(218, 163, 80);
  color: rgb(0, 0, 0);
  font-size: 1rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  opacity: 80%;
}
.scrollup .top:hover {
  opacity: 100%;
}

@media screen and (max-width: 550px) {
  .search input {
    width: 50vw;
  }
  .search button {
    width: 30vw;
  }
  .search input,
.search button {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 840px) {
  .nav_header .header .nav_toggler {
    display: block;
  }
  .nav_header .header .brand {
    font-size: 2rem;
  }
  .nav_header .header .nav_menu {
    position: fixed;
    top: 4rem;
    left: 100%;
    width: 60%;
    height: 100%;
    transform: translateX(100%);
    background-color: rgb(14, 38, 110);
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    row-gap: 3rem;
    transition: 0.8s ease;
    opacity: 90%;
  }
  .nav_header .header .nav_active {
    left: 0;
  }
  .nav_header .header .toggle .line1 {
    transform: rotate(-45deg) translate(-10px, 15px);
  }
  .nav_header .header .toggle .line2 {
    opacity: 0;
  }
  .nav_header .header .toggle .line3 {
    transform: rotate(45deg) translate(-10px, -15px);
  }
}
.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pictures .picture {
  padding: 1rem;
  width: 400px;
  background-color: antiquewhite;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pictures .picture .imageContainer {
  overflow: hidden;
  height: 40vh;
  width: 100%;
}
.pictures .picture .imageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in;
}
.pictures .picture .imageContainer img:hover {
  transform: scale(1.25);
}
.pictures .picture p {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.pictures .picture p a {
  width: 100%;
  margin: 1rem 0;
}
.pictures .picture p a .down {
  padding: 0.5rem;
  border-radius: 3rem;
  background-color: rgb(202, 110, 34);
  color: rgb(20, 20, 20);
}

@media screen and (max-width: 500px) {
  .pictures .picture {
    width: 80vw;
  }
}/*# sourceMappingURL=style.css.map */